<div class="card mb-12">
    <div class="card-header">
        <h2>Consultar Cursos</h2>
        <mat-divider class="mat-elevation-z2"></mat-divider>
    </div>
    <div class="card-body">
        <form class="form mt-3" [formGroup]="formSearch" *ngIf="formSearch">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <mat-form-field appearance="outline" class="mat-form-custom">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput [formControl]="formSearch.controls.name" >
                    <button *ngIf="formSearch.controls.name.value" matSuffix mat-icon-button aria-label="Clear" (click)="formSearch.controls.name.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button> 
                </mat-form-field>
            </div>
            <mat-divider class="mb-3 mt-3 mat-elevation-z2"></mat-divider>
            <div class="row mb-3">
                <div class="col-12 mb-3 botoes">
                    <button mat-raised-button color="primary" (click)="search()">
                        Buscar
                        <mat-icon>search</mat-icon>
                    </button>
                    <button routerLink="/courses/create" mat-raised-button color="accent">
                        Novo
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <div>
            <div class="mb-3 table-div table-responsive mat-elevation-z2">
                <table class="table table-round-corner">
                    <thead class="table mat-elevation-z2">
                        <tr>
                            <th colspan="5">
                                Nome
                            </th>
                            <th colspan="3">
                                Data Inicio
                            </th>
                            <th colspan="3">
                                Data Fim
                            </th>
                            <th colspan="1">
                                Data Fim
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td colspan="5">
                                {{item.name}}
                            </td>
                            <td colspan="3">
                                {{ item.startDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                            </td>
                            <td colspan="3">
                                {{item.endDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                            </td>
                            <td colspan="1">
                                <a class="btn btn-default" routerLink='/courses/edit/{{item.id}}' >
                                    <span class="tf-icons bx bx-edit"></span>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="!items || items.length == 0 ">
                            <td [colSpan]="12">
                                Sem resultados para a consulta
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="items" class="pb-2">
                <mat-paginator [length]="paginationResult.totalElements" [pageSize]="paginationResult.pageSize"
                    [pageIndex]="paginationResult.pageNumber - 1" [pageSizeOptions]="[2, 10, 25, 100]"
                    aria-label="Select page" (page)="searchCourses($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>