.snack-background-red{ 
    div.mdc-snackbar__surface  {
        background-color: rgb(178, 25, 25, 1) !important;
        color: white !important;
    }
    div  {
        color: white !important;
    }
    span {
        color: white !important;
    }
}
.snack-background-green{
    div.mdc-snackbar__surface  {
        background: rgb(29, 102, 29) !important;
        color: white !important;
    }
    div {
        color: white !important;
    }
    span {
        color: white !important;
    }
}

mat-form-field:not(.mat-mdc-paginator-page-size-select) {
    width: 100% !important;
    div.mdc-text-field:not(.mdc-text-field--disabled)  {
         background-color: #444564 !important;
    }
    div.mdc-text-field--focused:not(.mdc-text-field--disabled)  {
        background-color: #444564 !important;
    }
    div.mdc-text-field--focused:not(.mdc-text-field--disabled):hover  {
        background-color: #444564 !important;
    }
    mat-label {
        font-weight: 500 !important;
    }
}

// .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
//     opacity: .001 !important;
// }

mat-form-field.mat-form-field-disabled {
    div.mdc-text-field--disabled  {
        background-color: #4a4a4a;
        opacity: 1;
        color: #3f51b5 !important;
    }
   
    cursor: no-drop !important;
    div, input, span{
        cursor: no-drop !important;
    }
}


.mat-mdc-table, .mat-mdc-paginator {
    background: #2b2c40a3 !important;
    border-radius: 1rem;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple){
    span, mat-pseudo-checkbox::after {
        color: white;
    }
    background-color: rgb(255,255, 255);
}

.mat-elevation-z2 {
    border-radius: 1rem;
    margin: 2px;
}

.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
}

.site-container {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;

  .site-header {
    height: 64px;
  }

  .site-content {
    height: calc(100vh - 65px);
    padding: 0 15px;
    overflow: auto;
  }
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 



  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(91 104 122 / 82%); /* Black background with opacity */
    opacity: 0.5;
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: progress; /* Add a pointer on hover */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}