<div class="row">
    <form class="form" [formGroup]="formRegister">
        <div class="col-12">
            <mat-form-field>
                <mat-label>teste</mat-label>
                <input type="text" matInput [formControl]="formRegister.controls.teste" autocomplete="off">
                <mat-error *ngIf="formRegister.controls.teste.hasError('required')">Teste é
                    obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12" formArrayName="items" *ngFor="let item of formRegister.controls.items.controls;let i=index">
            <div class="row mb-3" [formGroupName]="i">
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Preco</mat-label>
                        <input type="text" matInput [formControl]="item.controls.preco" autocomplete="off">
                        <mat-error *ngIf="item.controls.preco.hasError('required')">Preco é
                            obrigatório</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>nome</mat-label>
                        <input type="text" matInput [formControl]="item.controls.nome" autocomplete="off">
                        <mat-error *ngIf="item.controls.nome.hasError('required')">nome é
                            obrigatório</mat-error>
                    </mat-form-field>
                </div>
            </div>   
        </div>

        <div class="mb-3">
            <button style="width: 100%;height: 56px;" class mat-raised-button color="primary"
               >Registre-se</button>
        </div>
    </form>
</div>